# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
espnet.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage*
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.*.sw?
*.log
*.wav
*.ark
*.scp
*.ark.*
*.scp.*

# recipe related
egs/*/*/data*
egs/*/*/db
egs/*/*/downloads
egs/*/*/dump
egs/*/*/enhan
egs/*/*/exp
egs/*/*/fbank
egs/*/*/mfcc
egs/*/*/stft
egs/*/*/tensorboard
egs/*/*/wav*

# tools related
tools/bats-core
tools/chainer_ctc/
tools/kaldi*
tools/mecab/
tools/miniconda.sh
tools/moses/
tools/mwerSegmenter/
tools/nkf/
tools/venv/
tools/sentencepiece/
tools/swig/
tools/warp-ctc/
tools/warp-transducer/
tools/*.done
tools/PESQ*

# some files > 1M in clsp grid
egs/libritts/asrtts+spkid_libris_kaldiasr/log/
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/token.2.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/tokenid.1.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_NOlm/token.2.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_NOlm/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_NOlm/tokenid.1.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/token.2.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/tokenid.1.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/token.2.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/tokenid.1.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign/token.2.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign/tokenid.1.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3/deprecated/
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3/token.2.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3/tokenid.1.txt
egs/libritts/asrtts+spkid_voxceleb2Naug_phonealign/deprecated/
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_1600spk/deprecated/
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_1600spk/token.2.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_1600spk/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_1600spk/tokenid.1.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_2400spk/deprecated/
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_2400spk/token.2.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_2400spk/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_2400spk/tokenid.1.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_800spk/deprecated/
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_800spk/token.2.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_800spk/tokenid.1.diffoov.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_800spk/tokenid.1.txt
egs/libritts/asrtts+spkid_voxceleb2_phonealign/deprecated/
egs/libritts/asrtts+spkid_voxceleb_phonealign/deprecated/
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/token.1.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_NOlm/token.1.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/token.1.txt
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/token.1.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign/token.1.txt
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3/token.1.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_1600spk/token.1.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_2400spk/token.1.txt
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_800spk/token.1.txt
egs/libritts/asrtts+spkid/temp.dim
egs/libritts/tts+spkid/dump_smallset/
egs/libritts/asrtts+spkid/trials.temp
egs/libritts/asrtts+spkid/uttlist.0
egs/libritts/asrtts+spkid/uttlist.0.001
egs/libritts/asrtts+spkid/uttlist.0.01
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/log/
egs/libritts/asrtts+spkid/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_libris_kaldiasr/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_NOlm/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_sre_phonealign/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_1600spk/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_2400spk/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxceleb2_kaldiasr_phonealign_rf3_pretrain_800spk/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxceleb2_phonealign/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxcelebNaug_kaldiasr_phonealign_rf3/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_voxceleb_phonealign/train_trainNdev.utt2spklab
egs/libritts/asrtts+spkid_sre_phonealign/emb_fromcatsegs_sre16_eval40_yue_enrol_temp/
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/uttlist.common.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/uttlist.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/uttlist.common.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/uttlist.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/uttlist.common.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/uttlist.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/phonelen.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/phonelen.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/phonelen.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign/utt2num_frames.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/utt2num_frames.tmp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3_fs16k/utt2num_frames.tmp
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign/log/
egs/libritts/asrtts+spkid_sre_phonealign/seglist.feat
egs/libritts/asrtts+spkid_sre_phonealign/seglist.shape
egs/libritts/asrtts+spkid_sre_phonealign/seglist.sorted
egs/libritts/asrtts+spkid_voxcelebNaug_kaldiasr_phonealign_rf3/log/
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3_addpitch/log/
egs/libritts/asrtts+spkid_voxceleb2Naug_phonealign/log/
egs/libritts/asrtts+spkid/deprecated/
egs/libritts/asrtts+spkid_sre_phonealign/log/
egs/libritts/asrtts+spkid_voxceleb2_phonealign/log/
egs/libritts/tts_featext/deprecated/
egs/libritts/tts1/deprecated/feats.1.temp
egs/libritts/asrtts+spkid_libris_kaldiasr_phonealign_rf3/log/
egs/libritts/asrtts+spkid_voxceleb1_kaldiasr_phonealign_rf3/log/
egs/libritts/asrtts+spkid_sre_phonealign/train_json_nolab_notext_5M.pickle
egs/libritts/tts_featext/pitch.txt
egs/libritts/asrtts+spkid_sre_phonealign/train_json_nolab_notext_10Mb.pickle
egs/libritts/asrtts+spkid_sre_phonealign/train_json_nolab_5M.pickle
egs/libritts/asrtts+spkid_sre_phonealign/.backup/
egs/libritts/tts1/dump_spkidadd/
egs/libritts/asrtts+spkid_sre_phonealign/ijson_prac/
egs/libritts/asrtts+spkid_sre_phonealign/train_json_nolab_10Mb.pickle
egs/librispeech/asr1/deprecated/train_960_pytorch_train_pytorch_transformer_large_ngpu4_specaug.tar.gz
egs/libritts/asrtts+spkid_voxcelebNaug_kaldiasr_phonealign_rf3/exp_old/
egs/libritts/tts_featext/rirs_noises.zip
egs/libritts/asrtts+spkid_sre_phonealign/fil-result/
egs/libritts/tts_featext/RIRS_NOISES/
egs/libritts/asrtts+spkid_sre_phonealign/shelve_prac/
egs/libritts/tts+spkid/dump_ttsonly/
egs/libritts/asrtts+spkid_sre_phonealign/temp_featnorm/
egs/libritts/asrtts+spkid_sreNkaldiaug_phonealign/shelve_cleanrecon_semi/
